.App {
  box-sizing: border-box;
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  padding: 50px 0;
  background-color: rgb(2 21 87 / 1);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: 400;
  word-spacing: 1px;
  opacity: 0.8;
}

.description { 
  width: 100%;
  margin-top: 40px;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.sub-description {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  opacity: 0.8
}

/* .assessment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  width: 300px;
  height: fit-content;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.assessment-title {
  display: flex;
  gap: 8px;
  align-items: center;
}

.assessment-content {
  margin-top: 30px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */

